/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

/* Variables de color */
:root {
  --primary-color: #2c3e50;
  --secondary-color: #bdc3c7;
  --accent-color: #3498db;
  --dark-color: #34495e;
  --light-color: #f5f5f5;
  --shadow: rgba(0, 0, 0, 0.75);

}

/* Estilos generales */
body {
  font-family: 'Maven Pro', sans-serif;
  color: var(--dark-color);
  background-color: var(--light-color);
}

.circle-wrapper {
  border-radius: 50%;
  border: 2px solid var(--dark-color);
  box-shadow: 8px 16px 32px 0px var(--shadow);
  height: 300px;
  margin-bottom: 32px;
  overflow: hidden;
  width: 300px;
}

/* Estilos por defecto para el modo claro */
/* body {
  background-color: #f8f9fa;
  color: #343a40;
}

.navbar {
  background-color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
} */

/* Estilos para el modo oscuro */
/* body.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

.navbar.dark-mode {
  background-color: #212529;
}

.btn-primary.dark-mode {
  background-color: #343a40;
  border-color: #343a40;
} */

a {
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 0;
}

/* Estilos de sección */
section {
  padding: 100px 0;
}

section h2 {
  margin-bottom: 40px;
  text-align: center;
}

/* Estilos de menú */
.navbar {
  background-color: var(--primary-color);
}

.navbar-brand {
  color: var(--light-color);
  font-size: 30px;
  font-weight: 700;
}

.navbar-nav .nav-item .nav-link {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 700;
}

/* Estilos de tarjeta */
.card {
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.3);
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Estilos de formulario */
.form-control {
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-control:focus {
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

/* Estilos de botón */
.btn {
  border-radius: 0;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 30px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--accent-color);
  border: none;
  color: var(--light-color);
}

.btn-primary.mode-btn:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
  cursor: pointer;
}

.mode-btn {
  width: 50px;
  height: 50px;
  background-color: var(--dark-color);
  border: none;
  border-radius: 25px;
  padding: 5px 5px;
  transition: all 0.3s ease;
}

/* Estilos de pie de página */
footer {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 30px 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

img {
  max-height: 100%;

}

.img-mode {
  width: 40px;
  height: 40px;
  color: var(--light-color);
}